<!-- <div class="c">
  <form
    #burguerForm="ngForm"
    (ngSubmit)="getBurguerFormData(burguerForm.value)"
  >
    <label>Name of the burguer:</label>
    <br />
    <input type="text" name="name" ngModel />
    <br />
    <label>Name of the restaurant:</label>
    <br />
    <input type="text" name="restaurant" ngModel />
    <br />
    <label>Description:</label>
    <br />
     <textarea name="description" ngModel></textarea>
    <br />
    <label>Ingredients:</label>
    <br />
    <textarea name="ingredients" ngModel></textarea>
    <div class="btns">
      <button type="submit">Add burguer</button>
      <a routerLink="/main">Cancel</a>
    </div>
  </form>
</div> -->

<div class="c">
  <form [formGroup]="burguerForm" (ngSubmit)="onSubmit()">
    <label>Name of the burguer:</label>
    <br />
    <input type="text" formControlName="name" ngModel required />
    <br />
    <label>Name of the restaurant:</label>
    <br />
    <input type="text" formControlName="restaurant" ngModel />
    <br />
    <label>Website:</label>
    <br />
    <input type="text" />
    <br />
    <label>Description:</label>
    <br />
    <!-- <input type="text" name="description" ngModel /> -->
    <textarea formControlName="description" ngModel></textarea>
    <br />
    <label>Ingredients:</label>
    <br />
    <input type="text" [formControl]="ingredientControl" />
    <button type="button" (click)="addIngredient()">Add Ingredient</button>
    <br />
    <ul>
      <li *ngFor="let ingredient of ingredients">{{ ingredient }}</li>
    </ul>
    <br />
    <div class="btns">
      <button type="submit">Add burguer</button>
      <a routerLink="/main">Cancel</a>
    </div>
  </form>
</div>
